@import url("style.css");

:root{
	--popup-shadow:0px 6px 20px 0px rgba(229, 167, 13, 0.40);
}

.wrapper {
	
}
.container {}

.popup {
	width: 100%;
	height: 530px;
	margin: auto;
}

.popup__row{
	height: 530px;
	border-radius: 10px;
	background: var(--back-color);
	box-shadow: var(--popup-shadow);	
	max-width: 1036px;
	margin: 0px auto;
	padding:20px 50px;
	transition: 0.45s;
}

.popup__row:hover{
	--popup-shadow:0px 8px 20px 0px rgba(229, 167, 13,0.8);
}

.popup__content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popup__guest-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height:470px;
}

.popup__guest-title {
	color: var(--title-color);
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.popup__guest-text {
	color: var(--text-color);
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;}

.popup__page-list {
	height: 194px;
	border-radius: 10px;
	border: 1px solid var(--title-color);
	width: 500px;
	
	
	overflow-y:auto;
	overflow-x:hidden;
}

.popup__page-name {
	color: var(--text-color);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	position: relative;
	left:35px;
	z-index:2;

}

.popup__page-name:before{
	content: '';
	width: 18px;
	height: 18px;
	background: url('../img/Arrow - Right.svg') ;
	display: inline-block ;
	position: absolute;
	top:50%;
	transform:translate(0%, -50%);
	left:-25px;

}

.footer__element__href:hover {
	font-size: 20px;
}

.popup__page-name:after{
	transition:0.26s;
	content: '';
	background: var(--main-color);
	width:0%;
	height:49px;
	display: inline-block ;
	position: absolute;
	top:50%;
	transform:translate(0%, -50%);
	left:-35px;
	z-index:-1;
}

.popup__page-name:hover::after{
	opacity: 1;
	width:110%;
}

.popup__page-link:hover .popup__page-name{
	color:var(--title-color);
}



.popup__page-list::-webkit-scrollbar{
	width:0px;
	border-radius:25px;
	position: absolute;
	
}

.simplebar-track.simplebar-vertical{
	width:10px;
	margin:10px 5px 10px;
}

.simplebar-scrollbar:before{
	opacity:1;
	background-color:#999999;
}

.simplebar-scrollbar::before:hover{
	background-color: red;
}

.simplebar-scrollbar.simplebar-visible::before{
	opacity: 1;
	background-color: var(--main-color);
}



.popup__page-link{
	height:48px;
	display: flex;
	color:var(--text-color);
}

.popup__page-link:hover{
	color:var(--title-color);
}

.simplebar-scrollbar:hover{
	opacity:1;

}

.simplebar-scrollbar:active{
	opacity:1;

}