@import url("style.css");

.popup-wrapper {
	position: fixed;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.8);
	top:0;
	left:0;
	z-index: 100;
	font-family: Noto Sans ,sans-serif;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: 0.8s;
}

.popup-wrapper__body {
	min-height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.popup{
	transition: 0.8s;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	opacity: 0;
}

.popup-wrapper.open{
	opacity: 1;
	visibility: visible;
}

.popup-wrapper.open .popup{
	transform: perspective(600px) translate(0px,0%) rotateX(0deg);
	opacity: 1;
}


.popup__row {
	padding:0px 0px;}

/*шапка*/
.popup__head {
	display:flex;
	align-items: center;
	justify-content: space-around;
	max-width: 100%;
	height:70px;
	border-radius: 10px 10px 0px 0px;
	background: var(--main-color);
	position: relative;
}

.popup__head-title{
	color: var(--title-color);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 24px;
position: relative;
}

.popup__head-title:before,
.popup__head-title:after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: var(--title-color);
}

.popup__head-title:before {left: -32px;}

.popup__head-title:after {right: -32px;}

/*шапка*/
/*тело*/
.popup__content {
	padding-top:24px;
}
.popup__content-row{
	display: flex;
	width:100%;
	max-width: 976px;
	margin:0px auto;
	justify-content: space-between;
}
.first__image {}
.second__image{}
.popup__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 448px;
	padding-top: 15px;
	max-height: 390px;
}

.popup__text-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.popup__form-description {
	color: var(--title-color);
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: 300;
}
.form-group__input-text {
	height: 37px;
	margin-left:10px ;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	padding-top:0;
	padding-left: 8px;
	padding-bottom:1px;

}

.form-group__form-svg {
	right: 5px;
	}

.form-group__input-text:focus ~.form-group__form-svg path{
	fill:var(--title-color);
	fill-opacity:1.0;
}

.file-form {}

.file-form__title {}

.file-form__container {
	margin-left: 10px;
	border-radius: 10px;
	height:37px;

}
.file-form__label-text {
	color: var(--title-color);
	font-family: Noto Sans Display,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px;
}

.file-form__icon {
	right:6px;
	width: 24px;
	height: 22px;
}

.file-form__note-icon{
	right:5px;
	width: 20px;
	height: 20px;
}

.popup__textarea-form{
	flex-direction: column;
	align-items: stretch;
}
.popup__mainform{
	margin-top: 20px;
	height: 125px;
	margin-left: 0px;
	resize: none;
	color: var(--focusout-color);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding:6px 30px 10px 8px;
	margin-bottom:18px;
	transition: .6s;
}
/*скролл*/
.popup__mainform::-webkit-scrollbar{
	width:25px;
}
.popup__mainform::-webkit-scrollbar-track{
	background-color: var(--back-color);
	border-radius:25px;
} 
.popup__mainform::-webkit-scrollbar-thumb{
	background-color: #999999;
	border-radius:25px;
	border:10px solid var(--back-color);
}

.popup__mainform::-webkit-scrollbar-thumb:hover{
	background-color: var(--main-color);
}
.popup__mainform::-webkit-scrollbar-corner{
	background-color: var(--back-color);
}
.popup__mainform::-webkit-scrollbar-thumb:active{
	background-color: var(--main-color);
}
/*скролл*/
/*тело*/
.popup__close-icon{
	border-radius: 25px;
	transition: 0.45s;
	cursor: pointer;
	position: absolute;
	right: 21px;
	

}

.popup__close-icon:hover{
	fill:var(--main-color);
	background: var(--title-color);
	
}

.popup__close-icon:active{
	fill:var(--main-color);
	background: red;
	
}

/*костыль с попапом*/

.file-form__title{
	font-weight: 300;
}

.file-form__label-text{
	font-weight: 300;
	font-family: Noto Sans;
}
.form-group__input-text{
	font-weight: 300;
}
/*костыль с попапом*/

.popup__image{
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 0.7;
}