@import url("style.css");

/*страница входа*/
.results {}

.container {}

.results__container {
	max-width: 95%;
	display:flex;
	justify-content: space-between;
	align-items: center;

}
.results__image {
	margin-top:9px;
	position: relative;
	top:15px}

.results__body {}

.results__button {
	width: 260px;
}

/*profile*/
.results-storage {}

.container {}

.results-storages{
	border-top:1px solid var(--title-color);
}
/*
.results-storage__row {
	padding-bottom: 30px;
	
}
*/
.result-shelf {
	margin-top: 20px
}

.result-shelf__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.result-shelf__title {
	color: var(--title-color);
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}
.result-shelf__arrow-svg {
	cursor: pointer;
	transition: 0.45s;
	border-radius: 25px;
	height: 40px;
}

.result-shelf__arrow-svg:hover{
	fill:var(--back-color);
	background: var(--title-color);
}

.result-shelf__arrow-svg:active{
	background: var(--main-color);
}

.result-cards__row {
	margin: 0px 0px; 
}
.card {
	margin: 0px 0px; 
}

.result-cards{
	padding-top:0px;
	padding-bottom:20px; 
	/*margin:70px 0px 50px 30px;*/
}
