@import url("style.css");
/*страница входа*/
.results__enter {}

.container {}

.results__enter__all__container {
	max-width: 95%;
	display:flex;
	justify-content: space-between;
	align-items: center;

}
.results__enter__image {
	margin-top:9px;
	position: relative;
	top:15px}

.results__enter__body {}

.results__enter__title {}

.results__enter__content {
	
}
.btn_enter {
	width: 260px;
}

.btn {}

/*profile*/
.result__storage {}

.container {}

.result__storage__raw {
	padding-bottom: 30px;
	border-top:1px solid var(--title-color);
}
.shelf {
	margin-top: 30px
}

.shelf__hat {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.shelf__hat__title {
	color: var(--title-color);
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}
.arrow__svg {
	cursor: pointer;
	transition: 0.45s;
	border-radius: 25px;
	height: 40px;
}

.arrow__svg:hover{
	fill:var(--back-color);
	background: var(--title-color);
}

.arrow__svg:active{
	background: var(--main-color);
}

.results__row {
	margin: 0px 0px;
}
.results__card {
	margin: 0px 0px;
}

.results__section{
	padding-bottom:25px;
}

/*
.results__section{
	padding-bottom:75px;
	padding-top:75px
}
*/