@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-cancel-button {
  display: none !important;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*сброс стилей*/
/*елементарные стили*/
/*цвета меняемые из js*/
:root {
  --main-color:rgba(0,0,0,1);
  --contrast-color:rgba(255, 255, 255, 1.0);
  --title-color:var(--contrast-color);
  --text-color: rgba(255, 255, 255, 0.8);
  --unfocused-color:rgba(204, 204, 204, 0.8);
  --description-color: rgba(255, 255, 255, 0.75);
  --color-red: rgba(255,0,0,1.0);
  --description-font-weight:400;
}

.light-theme {
  --main-color:rgba(255, 255, 255, 1.0);
  --contrast-color:rgba(0,0,0,1);
  --title-color:var(--contrast-color);
  --text-color: rgba(0,0,0,1);
  --unfocused-color:rgba(0,0,0,0.6);
  --description-color: rgba(0,0,0,0.8);
  --description-font-weight:500;
}

/*Основные цвета*/
.color_back {
  background: var(--main-color);
}

.color_user {
  background: var(--user-color);
}

.color_title {
  background: var(--title-color);
}

.color_text {
  background: var(--text-color);
}

.color_unfocused {
  background: var(--unfocused-color);
}

.color_description {
  background: var(--description-color);
}

.color_contrast {
  background: var(--contrast-color);
}

.color_red {
  background: var(--color-red);
}

/*Основные цвета*/
/*пользовательские оттенки*/
:root {
  --root-user-color:229 167 13;
  --user-color:rgb(var(--root-user-color)/1.0);
}

/*цветовая схема*/
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/*кастомный скролл*/
/* скролл */
/* default скролл */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-color);
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
  border: 5px solid var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--user-color);
}

::-webkit-scrollbar-corner {
  background-color: var(--main-color);
}

/* default скролл */
/* кастомный скролл */
[data-simplebar]::-webkit-scrollbar { /* убираем default скролл при наличии кастомного */
  width: 0px;
  border-radius: 25px;
  position: absolute;
}

.simplebar-track.simplebar-vertical {
  width: 10px;
  margin: 10px 5px 10px;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
  background-color: var(--user-color);
}
.simplebar-scrollbar:before {
  opacity: 1;
  background-color: #999999;
}

.simplebar-dragging .simplebar-scrollbar:before {
  background-color: var(--user-color);
}

/* кастомный скролл */
/* скролл */
/*кастомный скролл,настройки*/
/*подключаем шрифты*/
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Bold.ttf");
  font-weight: 700;
}
/*подключаем шрифты*/
/*текст,загололвки,типография*/
/*типография*/
/*Заголовки*/
h1, .h1 {
  font-weight: 700;
  font-size: 26px;
}

h2, .h2 {
  font-weight: 700;
  font-size: 36px;
}

h3, .h3 {
  font-weight: 500;
  font-size: 36px;
}

h4, .h4 {
  font-weight: 700;
  font-size: 26px;
}

h5, .h5 {
  font-weight: 500;
  font-size: 18px;
}

h6, .h6 {
  font-weight: 500;
  font-size: 14px;
}

/*Заголовки*/
/*текст*/
p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.description-text {
  color: var(--description-color);
  transition: 0.3s;
}
.description-text:hover {
  color: var(--contrast-color);
}

.example-text {
  font-weight: 300;
}

.result-text {
  font-weight: var(--description-font-size);
  font-size: 12px;
  color: var(--description-color);
}

a p {
  border-bottom: 1px solid var(--contrast-color);
  transition: 0.3s;
  color: var(--contrast-color);
}

a p:hover {
  border-bottom: 1px solid var(--user-color);
  color: var(--user-color);
}

/*текст*/
/*типография*/
/*текст,загололвки,типография*/
/*блок-граница*/
.brd-box {
  border: 1px solid var(--contrast-color);
  border-radius: 10px;
}

/*блок-flex*/
.fl-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fl-box > .example-box {
  margin: 15px 20px;
}

.fl-box-btwn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fl-box-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.fl-box-col > .example-box {
  max-width: 160px;
  height: 30px;
}

/*блок-flex*/
/*блок-grid*/
.gr-box {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gr-box > .example-box {
  justify-self: center;
  margin: 15px 20px;
}

/*блок-grid*/
/*блок-пример*/
.example-box {
  width: 200px;
  height: 300px;
}

/*блок-пример*/
/*контейнеры*/
/*елементарные стили*/
/*стили компонентов*/
/*кнопки*/
/*кнопка по умолчанию*/
.simple-btn, .main-btn {
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 300;
  color: var(--title-color);
  background: var(--main-color);
  min-height: 40px;
  text-align: center;
  border: 1px solid var(--contrast-color);
  transition: 0.3s;
}
.simple-btn:hover, .main-btn:hover {
  border: 1px solid var(--user-color);
  background: var(--user-color);
}

/*кнопка по умолчанию*/
/*ОГРОМНАЯ кнопка*/
.btn-large {
  padding: 0px 20px;
  font-size: 24px;
  height: 50px;
}

/*ОГРОМНАЯ кнопка*/
/*Фирменные кнопки*/
.main-btn {
  padding: 0px 20px;
  font-size: 24px;
  height: 50px;
  font-weight: 400;
  border: 0px solid var(--title-color);
  background: var(--user-color);
  box-shadow: 7px 7px 0 -0.05em var(--main-color), 7px 7px var(--user-color);
  transition: 0.2s;
  will-change: contents;
  margin: 5px 0px 7px 0px;
}
.main-btn:hover {
  border: 0px solid var(--user-color);
  background: var(--user-color);
  box-shadow: 4px 4px 0 -0.05em var(--main-color), 4px 4px var(--user-color);
  transform: translate(3px, 3px);
  opacity: 0.8;
}
.main-btn:active {
  box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--user-color);
  transform: translate(7px, 7px);
  opacity: 0.6;
}

button[name=add] {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
button[name=add]::before {
  content: "+";
  margin-right: 6px;
  margin-bottom: 1px;
  transform: scale(1.5);
}

button.example-box {
  flex-direction: column;
  justify-content: center;
}
button.example-box::before {
  font-weight: 300;
  transform: scale(1.6);
  content: "+";
  margin: 0px;
  margin-bottom: 20px;
  aspect-ratio: 1;
  justify-content: center;
  font-size: 30px;
  line-height: 28px;
  border-radius: 50px;
  border: 0.25px solid var(--title-color);
  transition: border 0.3s;
}
button.example-box:hover {
  color: var(--user-color);
  background: transparent;
}
button.example-box:hover::before {
  border: 0.25px solid var(--user-color);
}

/*Круглые,фирменные кнопки*/
.round-btn {
  background: var(--title-color);
  background-image: url("/svg/svg_for_cards/arrow-back.svg");
  border-radius: 50px;
  width: 50px;
  padding: 0px;
  box-shadow: 4px 7px 0 -0.05em var(--main-color), 4px 7px var(--title-color);
}
.round-btn:hover {
  background: var(--title-color);
  background-image: url("/svg/svg_for_cards/arrow-back.svg");
  transform: translate(2px, 3px);
  box-shadow: 2px 4px 0 -0.05em var(--main-color), 2px 4px var(--title-color);
}
.round-btn:active {
  transform: translate(4px, 7px);
  box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--title-color);
}

.round-btn_red {
  background: var(--color-red);
  box-shadow: 4px 7px 0 -0.05em var(--main-color), 4px 7px var(--color-red);
}
.round-btn_red:hover {
  background: var(--color-red);
  box-shadow: 2px 4px 0 -0.05em var(--main-color), 2px 4px var(--color-red);
}
.round-btn_red:active {
  box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--color-red);
}

/*Кнопки с изображениями*/
.round-btn[name] {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*Кнопка like*/
.round-btn[name=like] {
  background-image: url("/svg/svg_for_cards/heart/heart.svg");
  background-size: 30px 30px;
  transition: all 0.2s, background-image 0.3s;
}

.round-btn.fill-heart {
  background-image: url("/svg/svg_for_cards/heart/heart-fill.svg");
}

/*Кнопка like*/
/*Кнопка delete*/
.round-btn[name=delete] {
  background-image: url("/svg/svg_for_cards/cross.svg");
  background-size: 40px 40px;
}

/*Кнопка delete*/
/*Кнопки с изображениями*/
/*Круглые,фирменные кнопки*/
/*Фирменные кнопки*/
/*кнопки*/
/*кнопки*/
.form_correct {
  padding: 0px 10px;
  height: 35px;
  border-radius: 10px;
  font-size: 20px;
  background: transparent;
  color: var(--title-color);
  font-weight: 300;
  border: 1px solid var(--unfocused-color);
  transition: border 0.45s, box-shadow 0.45s;
}
.form_correct:focus {
  border: 1px solid var(--user-color);
  box-shadow: 0px 3px 10px 0px rgb(var(--root-user-color)/0.45); /*-2px 3px 10px 0px rgb(var(--root-user-color)/0.4)*/
}
.form_correct:-webkit-autofill {
  -webkit-text-fill-color: var(--title-color);
  -webkit-transition: background-color 5000s ease-in-out 0s, border 0.45s, box-shadow 0.45s;
  transition: background-color 5000s ease-in-out 0s, border 0.45s, box-shadow 0.45s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}

textarea.form_correct {
  width: 100%;
  min-height: 100px;
  padding: 5px 10px;
  resize: none;
}
textarea.form_correct::-webkit-scrollbar-track { /*скролл сделать надо прозрачным*/
  background: transparent;
  margin-block: 1px;
}

input[type=submit] {
  cursor: pointer;
}

input[type=reset] {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("/svg/svg_for_cards/cross.svg");
  background-size: 40px 40px;
}

/*
.brd-box{
    transition: 0.45s;
    &:focus-within{
        border: 1px solid var(--user-color);
        box-shadow:-2px 3px 10px 0px rgb(var(--root-user-color)/0.4);
    }
}
*/
/*input[type=range]  {
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: grey;
}

input[type=range]::-webkit-slider-thumb {
    background: var(--user-color);
    border: 1px solid var(--title-color);
    border-radius: 150px;
    cursor: pointer;
    width:7px;
    height: 7px;
    -webkit-appearance: none;
    margin-top: -2px;
    transition: 0.3s;
    &:hover{
        transform: scale(1.5);
    }
}
*/
/*вводы*/
/*svg иконки*/
/*общие настройки*/
svg {
  width: 18px;
  height: 18px;
  stroke: currentColor;
  fill: transparent;
  cursor: pointer;
  transition: 0.3s;
}
svg:hover {
  stroke: var(--user-color);
}

svg.big {
  width: 26px;
  height: 26px;
}

/*общие настройки*/
/*индивидуальные настройки*/
.color-theme {
  width: 36px;
  height: 36px;
  transition: 0s;
}
.color-theme:hover {
  stroke: currentColor;
}

svg.large {
  width: 38px;
  height: 38px;
  border-radius: 25px;
  transition: 0.45s;
  fill: var(--title-color);
  stroke: var(--main-color);
  stroke-width: 0.25;
  cursor: pointer;
}
svg.large:hover {
  fill: var(--main-color);
  stroke: transparent;
  background: var(--title-color);
}
svg.large[name=close]:active {
  fill: var(--main-color);
  background: var(--red-color);
}
svg.large[name=show_more]:active {
  fill: var(--main-color);
  background: var(--user-color);
}

a[name=svg_link] {
  border-bottom: 0px solid green;
}

/*индивидуальные настройки*/
/*svg иконки*/
/*svg*/
.audio-box {
  align-self: stretch;
  height: 30px;
  border-radius: 0px 0px 0px 10px;
  background: linear-gradient(rgb(var(--root-user-color)/1), rgb(var(--root-user-color)/0.65));
}

.audio-box__progress_bar {
  height: 3px;
  background: grey;
}

/*audio-player*/
/*стили компонентов*/
/*тело сайта*/
body {
  zoom: 100%;
  height: 100%;
  color: var(--title-color);
  /*scroll-behavior: smooth;-сделать в js*/
}
body ::-moz-selection {
  background: var(--user-color);
  color: var(--title-color);
}
body ::selection {
  background: var(--user-color);
  color: var(--title-color);
}
body ::-moz-selection {
  background: var(--user-color);
  color: var(--title-color);
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  font-family: "Noto Sans";
  overflow: auto;
}

/*контент сайта*/
*[data-simplebar] {
  overflow: auto;
}

/* Основная часть */
main {
  flex: 1 1 auto;
}

.container {
  max-width: 1130px;
  margin: 0px auto;
}

/*общие нстройки секций*/
section:not(:last-child) [class*=__content]:first-child {
  border-bottom: 1px solid var(--contrast-color);
}
section:not(:last-child) [class*=bordered-box__content]:first-child {
  border-bottom: 0px solid var(--contrast-color);
}
section h3 {
  margin: 35px 0;
}
section [name=titleList] h3 {
  margin: 0;
}

/*общие нстройки секций*/