.form__file {
	width:0.1px;
	height:0.1px;
	opacity:0;
	overflow:hidden;
	position: absolute;
	z-index: -1;

}
.form__file__label {}
.naebka {
	padding:0px 0px;
	width: 80%;
	height: 30px;
	background: transparent;
	
}
.naebka__text {
	padding-left:8px;
	border: 1px solid var(--focusout-color);
	border-radius: 5px;
	background: transparent;
	z-index: 2;
	cursor: pointer;
	transition: 0.3s;
}

.camera__svg{
	fill:var(--focusout-color);
	width: 16px;
	height: 15px;
	position: absolute;
	top:50%;
	transform:translate(0%, -50%);
	right:7px;
	z-index: 0;
	pointer-events: none;
	transition: 0.3s;
}