@import "style-pack/reset";/*сброс стилей*/

@import "style-pack/common/color-sceme";/*цветовая схема*/
@import "style-pack/common/scroll/simplebar";/*кастомный скролл*/
@import "style-pack/common/scroll/scroll";/*кастомный скролл,настройки*/
@import "style-pack/common/font";/*текст,загололвки,типография*/
@import "style-pack/common/typography";/*текст,загололвки,типография*/
@import "style-pack/common/containers";/*контейнеры*/
/*елементарные стили*/

/*стили компонентов*/
@import "style-pack/components/buttons";/*контейнеры*/
/*стили компонентов*/

/*тело сайта*/
body{
	zoom:100%;
	height:100%;
	color:var(--title-color);
	/*scroll-behavior: smooth;-сделать в js*/
	::selection{
		background: var(--user-color);
	}
}

body.lock{
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color:var(--main-color);	
	font-family: 'Noto Sans';
	overflow:auto
}

/*контент сайта*/
*[data-simplebar]{
	overflow: auto;
}

/* Основная часть */
main{flex:1 1 auto;}


.container{
	max-width: 1130px;
	margin: 0px auto;
}

/*общие нстройки секций*/
section{
	&:not(:last-child) [class*='__content']:first-child{
	border-bottom: 1px solid var(--title-color);
	}
	h3{
		margin:35px 0
	}
}

/*общие нстройки секций*/

