input[type=range]  {
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: grey;
}

input[type=range]::-webkit-slider-thumb {
    background: var(--user-color);
    border: 1px solid var(--title-color);
    border-radius: 150px;
    cursor: pointer;
    width:7px;
    height: 7px;
    -webkit-appearance: none;
    margin-top: -2px;
    transition: 0.3s;
    &:hover{
        transform: scale(1.5);
    }
}
