.audio-box{
    align-self: stretch;
    height: 30px;
    border-radius: 0px 0px 0px 10px;
    background: linear-gradient(rgb(var(--root-user-color)/1.0),rgb(var(--root-user-color)/0.65));
}

.audio-box__progress_bar{
    height:3px;
    background:grey;
}
