/*кнопки*
/*кнопка по умолчанию*/
.simple-btn, .main-btn{
	border-radius: 10px;
	padding:0px 10px;
	font-size: 20px;
	font-weight: 300;
	height: 40px;
	color: var(--contrast-color);
	background: var(--main-color);
	text-align: center;
	border:1px solid var(--contrast-color);
	transition: .3s;
	&:hover{
		border:1px solid var(--user-color);
		background: var(--user-color);
	}
}

/*кнопка по умолчанию*/

/*ОГРОМНАЯ кнопка*/
.btn-large{
	padding:0px 20px;
	font-size: 24px;
	height: 50px;
}
/*ОГРОМНАЯ кнопка*/

/*Фирменные кнопки*/
.main-btn{
	padding:0px 20px;
	font-size: 24px;
	height: 50px;
	font-weight: 400;
	border:0px solid var(--title-color);
	background: var(--user-color);
  	box-shadow: 7px 7px 0 -0.05em var(--main-color), 7px 7px var(--user-color);
  	transition: 0.2s;
 	will-change: contents;
	margin:5px 0px 7px 0px;
	&:hover{
		border:0px solid var(--user-color);
		background: var(--user-color);
		box-shadow: 4px 4px 0 -0.05em var(--main-color), 4px 4px var(--user-color);
		transform:translate(3px,3px);
		opacity: 0.8;
	}
	&:active{
		box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--user-color);
		transform:translate(7px,7px);
		opacity: 0.6;
	}
}

.btn-add{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	&::before{
		content:'+';
		margin-right:6px;
		margin-bottom: 1px;
		transform: scale(1.5);
	}
}


button.example-box{
	flex-direction: column;
	justify-content: center;
	&::before{
		font-weight:300 ;
		transform: scale(1.6);
		content:'+';
		margin:0px;
		margin-bottom: 20px;
		aspect-ratio: 1;
		justify-content: center;
		font-size: 30px;
		line-height: 28px;
		border-radius: 50px;
		border: 0.25px solid var(--title-color);
		transition: border .3s;

	}
	&:hover{
		color:var(--user-color);
		background: transparent;
	}
	&:hover::before{
		border: 0.25px solid var(--user-color);
	}
}

/*Круглые,фирменные кнопки*/

.round-btn{
	background: var(--title-color);
	background-image: url('/svg/svg_for_cards/arrow-back.svg');
	background-size: 60px 60px;
	border-radius: 50px;
	width:50px;
	padding:0px;
	box-shadow: 4px 7px 0 -0.05em var(--main-color), 4px 7px var(--title-color);
	&:hover{
		background: var(--title-color);
		background-image: url('/svg/svg_for_cards/arrow-back.svg');
		background-size: 60px 60px;
		transform:translate(2px,3px);
		box-shadow: 2px 4px 0 -0.05em var(--main-color), 2px 4px var(--title-color);
	}
	&:active{
		transform:translate(4px,7px);
		box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--title-color);
	}
	
}

.round-btn_red{
	background: var(--color-red);
	box-shadow: 4px 7px 0 -0.05em var(--main-color), 4px 7px var(--color-red);
	&:hover{
		background: var(--color-red);
		box-shadow: 2px 4px 0 -0.05em var(--main-color), 2px 4px var(--color-red);
	}
	&:active{
		box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--color-red);
	}
}


/*Кнопки с изображениями*/
button[name]{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	&:hover{
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	&:not([class~=main-btn]){
		aspect-ratio: 1;
		height: 50px;
		background-color: transparent;
	}
}
/*Кнопка like*/
button[name='like']{
	background-image: url('/svg/svg_for_cards/heart/heart.svg');
	background-size: 30px 30px;
	transition: all .2s,background-image 0.3s ;
	&:hover{
		background-image: url('/svg/svg_for_cards/heart/heart.svg');
		background-size: 30px 30px;
	}
}

button.fill-heart{
	background-image: url('/svg/svg_for_cards/heart/heart-fill.svg');
	&:hover{
		background-image: url('/svg/svg_for_cards/heart/heart-fill.svg');
	}
}
/*Кнопка like*/

/*Кнопка delete*/
button[name='delete']{
	background-image: url('/svg/svg_for_cards/cross.svg');
	background-size: 40px 40px;
	&:hover{
		background-image: url('/svg/svg_for_cards/cross.svg');
		background-size: 40px 40px;
	}
}
/*Кнопка delete*/
/*Кнопки с изображениями*/
/*Круглые,фирменные кнопки*/

/*Маленькие,фирменные кнопки*/
button[class*='_small']{
	height: 25px;
	&:hover{
		transform:translate(2px,2px);
	}
	&:active{
		transform:translate(4px,4px);
	}
}

.main-btn_small{
	padding:0px 9px;
	border-radius: 7px;
	font-size: 14px;
	line-height: 25px;
	font-weight: 500;
  	box-shadow: 4px 4px 0 -0.05em var(--main-color), 4px 4px var(--user-color);
	&:hover{
		box-shadow: 2px 2px 0 -0.05em var(--main-color), 2px 2px var(--user-color);
	}
	&:active{
		box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--user-color);
	}
}

.round-btn_small{
	background-size: 30px 30px;
	width:25px;
	padding:0px;
	box-shadow: 4px 4px 0 -0.05em var(--main-color), 4px 4px var(--title-color);
	&:hover{
		background: var(--title-color);
		background-image: url('/svg/svg_for_cards/arrow-back.svg');
		background-size: 30px 30px;
		box-shadow: 2px 2px 0 -0.05em var(--main-color), 2px 2px var(--title-color);
	}
	&:active{
		box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--title-color);
	}
	
}

.round-btn_small.round-btn_red{
	box-shadow: 4px 4px 0 -0.05em var(--main-color), 4px 4px var(--color-red);
	&:hover{
		background-color: var(--color-red);
		box-shadow: 2px 2px 0 -0.05em var(--main-color), 2px 2px var(--color-red);
	}
	&:active{
		box-shadow: 0px 0px 0 -0.05em var(--main-color), 0px 0px var(--color-red);
	}
}

.round-btn_small[name='like']{
	background-size: 15px 15px;
	&:hover{
		background-image: url('/svg/svg_for_cards/heart/heart.svg');
		background-size: 15px 15px;
	}
	&.fill-heart{
		background-image: url('/svg/svg_for_cards/heart/heart-fill.svg');
	}
}

.round-btn_small[name='delete']{
	background-size: 21px 21px;
	&:hover{
		background-image: url('/svg/svg_for_cards/cross.svg');
		background-size: 21px 21px;
	}
	&.fill-heart{
		background-image: url('/svg/svg_for_cards/cross.svg');
	}
}

/*Маленькие,фирменные кнопки*/

/*Фирменные кнопки*/
/*кнопки*/
