.form_correct{
    padding: 0px 10px;
    height: 35px;
    border-radius:10px ;
    font-size:20px;
    background: transparent;
    color:var(--title-color);
    font-weight: 300;
    border: 1px solid var(--unfocused-color);
    transition: border 0.45s ,box-shadow 0.45s;
    &:focus{
        border: 1px solid var(--user-color);
        box-shadow:0px 3px 10px 0px rgb(var(--root-user-color)/0.45);/*-2px 3px 10px 0px rgb(var(--root-user-color)/0.4)*/
    }
    &:-webkit-autofill{
        -webkit-text-fill-color: var(--title-color);
        transition: background-color 5000s ease-in-out 0s,border 0.45s ,box-shadow 0.45s;
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%); 
    }
}

textarea.form_correct{
    width: 100%;
    min-height:100px;
    padding: 5px 10px;
    resize: none;
    &::-webkit-scrollbar-track{/*скролл сделать надо прозрачным*/
        background: transparent;
        margin-block:1px;
    }
}

input[type=range] {
    width: 200px;
    text-transform:34;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 3px;
    --progress-line:0%
}

input[type=range].music-box__volume{
    --progress-line:75%
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: linear-gradient(to right,var(--user-color) 0% var(--progress-line), grey var(--progress-line));
}

input[type=range]::-webkit-slider-thumb {
    background: var(--user-color);
    border: 1px solid var(--title-color);
    border-radius: 150px;
    cursor: pointer;
    width:7px;
    height: 7px;
    -webkit-appearance: none;
    margin-top: -2px;
    transition: 0.3s;
    &:hover{
        transform: scale(1.5);
        cursor: pointer;
    }
}
