/*блок-граница*/
.brd-box{
	border: 1px solid var(--title-color);
	border-radius:10px;
}

/*блок-flex*/
.fl-box{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	>.example-box{
		margin:15px 20px;
	}
}

.fl-box-btwn{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fl-box-col{
	display: flex;
	flex-direction: column;
	align-items:  center;
	justify-content: space-evenly;
	height: 100%;
	>.example-box{
		max-width: 160px;
		height: 30px;
	}
}

/*блок-flex*/

/*блок-grid*/
.gr-box{
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	>.example-box{
		justify-self: center;
		margin:15px 20px;
	}
}

/*блок-grid*/

/*блок-пример*/
.example-box{
	width: 200px;
	height:300px;
}
/*блок-пример*/


