/*типография*/

/*Заголовки*/
h1 ,.h1{
	font-weight: 700;
	font-size:26px
}
h2,.h2{
	font-weight: 700;
	font-size:36px
}
h3,.h3{
	font-weight: 500;
	font-size:36px
}
h4,.h4{
	font-weight: 700;
	font-size:26px
}
h5,.h5{
	font-weight: 500;
	font-size:18px
}
h6,.h6{
	font-weight: 500;
	font-size:14px
}
/*Заголовки*/

/*текст*/
p{
	font-weight: 400;
	line-height:24px;
}

.description-text{
	/*font-family: 'Noto Sans Display';с в макете*/
	font-family: 'Noto Sans Display';
	color:var(--description-color);
	transition:0.3s;
	&:hover{
		color:var(--contrast-color)
	}
}

.example-text{
	font-weight: 300;
}

.result-text{
	font-weight: var(--description-font-size);
	font-size:12px;
	color:var(--description-color)
}

a p{
	border-bottom:1px solid var(--contrast-color);
	transition: 0.3s;
    color:var(--contrast-color);
}

a p:hover{
	border-bottom:1px solid var(--user-color);
	color:var(--user-color)
}

/*текст*/

/*типография*/